<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sobre Nós</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap-litera.css">
</head>
<body>
    <header>
        <h1>Sobre Nós</h1>
    </header>

    <section>
        <h2>Nossa História</h2>
        <p></p>
    </section>

    <section>
        <h2>Nossa Equipe</h2>
        <p>Nossa equipe é composta por profissionais altamente qualificados e dedicados a oferecer o melhor serviço aos nossos clientes.</p>
    </section>

</body>
</html>
