@{
    ViewData["Title"] = "FAQ";

}

    <section class="container pt-4">
        <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
        <p class="text-center mb-5">
            Encontre abaixo as respostas para as perguntas mais frequentes
        </p>

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary">
                    <i class="far fa-paper-plane text-primary pe-2"></i> O FlexEstoque pode agregar o seu negócio?
                </h6>
                <p>
                    <strong><u>Claro!</u></strong> O FlexEstoque é um sistema ERP disponível para uso direto no seu navegador
                    que tem como objetivo simplificar o controle de estoque da sua empresa.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary">
                    <i class="fas fa-pen-alt text-primary pe-2"></i> O que é um ERP de Controle de Estoque?
                </h6>
                <p>
                    Um ERP de Controle de Estoque é um software de planejamento de recursos empresariais que ajuda as empresas a gerenciar
                    eficientemente seu inventário, acompanhar produtos, otimizar compras e vendas, e garantir o controle total sobre
                    os ativos de estoque.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary">
                    <i class="fas fa-user text-primary pe-2"></i> Quais são os principais benefícios de usar um ERP de Controle de Estoque?
                </h6>
                <p>
                    Os benefícios incluem redução de custos, otimização de estoque, previsão de demanda precisa, melhorias na precisão
                    de pedidos e entregas, aumento na eficiência operacional e tomada de decisões mais informadas.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary">
                    <i class="fas fa-rocket text-primary pe-2"></i> O sistema receberá atualizações?
                </h6>
                <p>
                    Sim, nosso sistema está em constante melhora.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary">
                    <i class="fas fa-home text-primary pe-2"></i> Como contratar?
                </h6>
                <p>
                    Responda o formulário de contato na página inicial e entraremos em contato com você.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary">
                    <i class="fas fa-book-open text-primary pe-2"></i> É possível personalizações para sua empresa?
                </h6>
                <p>
                    Por enquanto não, trabalhamos com um modelo padrão para todos os nossos clientes.
                </p>
            </div>
        </div>
    </section>
