@{
    Layout = "_Layout";
    ViewData["Title"] = "Contato";

}

<form>
    <h2>Envie-nos as informações do seu projeto</h2>

    <div class="form-group">
        <label for="nome_projeto" class="form-label mt-4">Nome do Projeto</label>
        <input type="text" class="form-control" id="nome_projeto" name="nome_projeto" require>
    </div>

    <div class="form-group">
        <label for="descricao_projeto" class="form-label mt-4">Descrição do Projeto:</label>
        <textarea class="form-control" id="descricao_projeto" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="responsavel" class="form-label mt-4">Responsável pelo Projeto:</label>
        <input type="text" class="form-control" id="responsavel" name="responsavel" require>
    </div>

    <div class="form-group">
        <label for="email" class="form-label mt-4">Email de Contato:</label>
        <input type="email" class="form-control" id="email" name="email" require>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Enviar</button>
    
</form>

