@model FlexEstoque.Models.Produto

@{
    ViewData["Title"] = "Editar";
}

<h1>Edit</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeProduto" class="control-label"></label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoProduto" class="control-label"></label>
                <input asp-for="CodigoProduto" class="form-control" />
                <span asp-validation-for="CodigoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoProduto" class="control-label"></label>
                <input asp-for="DescricaoProduto" class="form-control" />
                <span asp-validation-for="DescricaoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorProduto" class="control-label"></label>
                <input asp-for="ValorProduto" class="form-control" />
                <span asp-validation-for="ValorProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidadeProduto" class="control-label"></label>
                <input asp-for="ValidadeProduto" class="form-control" />
                <span asp-validation-for="ValidadeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstoqueMinimo" class="control-label"></label>
                <input asp-for="EstoqueMinimo" class="form-control" />
                <span asp-validation-for="EstoqueMinimo" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="EstoqueMaximo" class="control-label"></label>
                <input asp-for="EstoqueMaximo" class="form-control" />
                <span asp-validation-for="EstoqueMaximo" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
