@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>FlexEstoque</b></h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<div class="text-black">
    <p>
        O FlexEstoque é a solução definitiva para o gerenciamento eficaz do estoque da sua empresa.
        Seja você um pequeno negócio local ou uma empresa de médio porte,
        nosso aplicativo foi projetado para simplificar e aprimorar o controle de estoque,
        proporcionando maior eficiência operacional e economia de tempo.
        
    </p>
    <body>
        <h1>Recursos Principais:</h1>
        <p><b>Gerenciamento de Estoque Simples:</b> Com o FlexEstoque, você pode controlar facilmente todas as suas mercadorias e produtos em um só lugar. Adicione, edite e remova itens com apenas alguns toques.</p>
        <p><b>Rastreamento de Inventário em Tempo Real:</b> Mantenha um registro preciso do seu estoque com atualizações em tempo real. Saiba sempre quais produtos estão disponíveis e suas quantidades.</p>
        <p><b>Segurança de Dados:</b> Suas informações são protegidas por criptografia de ponta a ponta, garantindo que seus dados estejam seguros e confidenciais.</p>
        <p><b>Suporte ao Cliente:</b> Oferecemos suporte dedicado para ajudá-lo a resolver qualquer dúvida ou problema rapidamente.</p>
    </body>
    <body>
        <p>O <b>FlexEstoque</b> é a ferramenta ideal para simplificar o gerenciamento do seu estoque e garantir que sua empresa esteja sempre preparada para atender às demandas dos clientes. Economize tempo, reduza custos e melhore a eficiência com o FlexEstoque. Experimente hoje mesmo e veja a diferença que podemos fazer para o seu negócio.</p>
    </body>
</div>
